

    - name: Install required packages
      apt:
        name:
          - apache2
          - php
          - libapache2-mod-php
          - php-gd
          - php-json
          - php-mysql
          - php-curl
          - php-mbstring
          - php-intl
          - php-imagick
          - php-xml
          - php-zip
          - php-sqlite3
          - unzip
          - wget
        state: present
        update_cache: true

    - name: Download Nextcloud
      get_url:
        url: https://download.nextcloud.com/server/releases/latest.zip
        dest: /tmp/nextcloud.zip

    - name: Unzip Nextcloud
      unarchive:
        src: /tmp/nextcloud.zip
        dest: /var/www/html/
        remote_src: yes

    - name: Set permissions
      file:
        path: /var/www/html/nextcloud
        state: directory
        recurse: yes
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Enable Apache rewrite module
      command: a2enmod rewrite
      notify: Restart Apache

    - name: Set Apache config for Nextcloud
      copy:
        dest: /etc/apache2/sites-available/nextcloud.conf
        content: |
          <VirtualHost *:80>
              DocumentRoot /var/www/html/nextcloud
              <Directory /var/www/html/nextcloud/>
                  AllowOverride All
              </Directory>
          </VirtualHost>
      notify: Restart Apache

    - name: Enable Nextcloud site
      command: a2ensite nextcloud.conf
      notify: Restart Apache

    - name: Disable default site
      command: a2dissite 000-default.conf
      notify: Restart Apache

